html {
    background-color: #000;
}

body {
    background-color: #000;
}

header {
    width: 100%;
    height: 100%;
}

#content {
    margin-left:  20%; 
    width: 400px;
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover 
}

#navbar {
    float: left;
    width: 20%;
}


    

